@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Ubuntu:wght@300&display=swap");

body {
    margin: 0;
}

#root {
    background-color: wheat;
    min-height: 100vh;
}

.field {
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.render {
    background-color: white;
    position: relative;
    left: 75%;
    width: 150%;
    padding-left: 2rem;
    box-shadow: 5px 5px 5px gray;
    font-family: "Ubuntu", sans-serif;
}

legend {
    font-size: larger;
    background-color: darkkhaki;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    right: 12px;
}

.whole-form {
    font-family: "Bakbak One", cursive;
    min-width: 600px;
    max-width: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
}

span {
    font-weight: 700;
}

button {
    width: 150px;
    margin-bottom: 20px;
    background-color: darkblue;
    color: wheat;
    font-size: 1.4rem;
    border-radius: 5px;
    font-family: "Bakbak One", cursive;
}
